body {
  font-family: 'Public Sans', sans-serif !important;
}

p, legend{
  font-size:1rem;
  font-family: 'Public Sans', sans-serif !important;
  font-weight:300;
  margin-top: 0;
  margin-bottom: 1rem;

}

.bold{
  font-weight:700
}

.form-check {
  position: relative;
}

.mt4 {
  margin-top:4em;
  margin-bottom:0em;
}

.customButton1 {
  border-radius: 1rem !important;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, .35);
  display: inline-block;
  font-weight: 500;
  font-size: .875rem;
  padding: .55rem 1.25rem;
  position: relative;
  outline: none !important;
  text-transform: uppercase;
  margin-bottom:.6em;
  width:8rem;
  position: relative;
  left:calc(50% - 4rem);
  margin-top:1rem;
  margin-bottom:4rem;
  color:white;
  border:none !important;
  background: rgb(114,198,67);
  background: linear-gradient(90deg, rgba(114,198,67,1) 33%, rgba(129,227,73,1) 79%);
}

.customButton1:hover {
  background: rgb(29,159,6);
  background: linear-gradient(90deg, rgba(29,159,6,1) 57%, rgba(29,159,6,1) 92%);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.form-check:nth-child(1)::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#ff3b2d;
  height:10px;
  border-radius: 10px 0px 0px 10px;
}

.form-check:nth-child(2)::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#ffb228;
  height:10px;

}

.form-check:nth-child(3)::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#f9e101;
  height:10px;

}

.form-check:nth-child(4)::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#bae86d;
  height:10px;

}

.form-check:nth-child(5)::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#79d047;
  height:10px;
  border-radius:0 10px 10px 0;
}

.m5 {
  margin-top:5em;
  margin-bottom: 1em
}

/* .form-check:nth-child(2){
border-bottom: 10px solid #ffb228;

} */

/* .form-check:nth-child(3){
border-bottom: 10px solid #f9e101;

} */

/* .form-check:nth-child(4){
border-bottom: 10px solid #bae86d;

} */

/* .form-check:nth-child(5){
border-bottom: 10px solid #79d047;

} */

.toast {

  color: white;
  line-height: 1;
  margin-bottom: 0em;
  padding: 1.25em 1em 1em 1em;
  position: fixed;
  right: -400px;
  bottom: calc(50% - 0px);
  transition: 0.15s ease-in-out;
  width: 400px;
  height: auto;

  background: rgb(29,159,6);
  background: linear-gradient(90deg, rgba(29,159,6,1) 57%, rgba(29,159,6,1) 92%);
}

.toast p {
  font-size: 17px;
  letter-spacing: .04em;
  margin-bottom: .5em;

}

.form-check {
  padding-left:0rem;
  padding: 0em .2em;
}

.jellybean:after {
  position: absolute;
  content: "\f067";
  font-size:2rem;
  color:#79d047;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  right:-1.5em;
  top:calc(50% - 2rem)

}

.red:before {
  position: absolute;
  content: "\f068";
  font-size:2rem;
  color:#ff3b2d;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  left:-1.5em;
  top:calc(50% - 2rem)

}

.largeGreen {
  color:#71d82e !important;
  font-size:2rem;
}

fieldset {
  padding: 0em;
  margin: 2em 0em;
}

.cc-selector label p {
  margin-bottom: 0rem;
  line-height: normal;
  font-size: 17px;
  margin-top: .8em;
}


.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.red{
  background-image: url(../images/rating-02.svg);
}
.orange{
  background-image: url(../images/rating-03.svg);
}

.gold{
  background-image: url(../images/rating-04.svg);
}

.lime{
  background-image: url(../images/rating-05.svg);
}

.jellybean{
  background-image: url(../images/rating-06.svg);
}


label.form-check-label {
  color: black;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0em;
  padding: 0em;
  margin-bottom: 3em;
  margin-top: 0em;
  /* font-size: 0px; */
  padding-top: 7em;
  text-align: center;
  position: relative;
}



.form-check-label{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width: 120px;
  height: 120px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  background-position: right 0px top 8px;
  border: inset 5px transparent;

}



.form-check-label:focus,
.form-check-label:hover {
  -webkit-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  -moz-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  border-radius: 10px;
}

.cc-selector  {
  position: relative;
  margin-bottom:1em;
}

.cc-selector input[type="radio"]:checked + label {
  -webkit-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  -moz-box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  box-shadow: 0px 0px 19px -1px rgba(175,175,175,0.67);
  border-radius: 10px;
}

/* .cc-selector input[type="radio"]:checked + label:after {

content: "\f058";
font-size:21px;
color:#00843D;

content: '\f058';
font-family: "Font Awesome 5 Free";
font-style: normal;
font-weight: 900;
text-decoration: inherit;
position: absolute;
top: -11px;
right: -12px;
} */

.scale {
  margin-top: 2em;
  position: absolute;
}




@media (max-width:767px) {
  .justify-content-center {

    flex-direction: column !important;
  }
  /* .align-items-center {

    align-items: flex-start !important;
  } */
  .red:before {

    content: "";
  }

  .jellybean:after {

    content: "";

  }

  .form-check:nth-child(1)::after,
  .form-check:nth-child(2)::after,
  .form-check:nth-child(3)::after,
  .form-check:nth-child(4)::after,
  .form-check:nth-child(5)::after {
    content: '';
    height: 0px;
  }

  .scale {
    margin-top: 2em;
    position: relative;
  }
  .cc-selector {
    position: relative;
    margin-bottom: 0em;
  }
  .form-check {
    padding-left: 0rem;
    padding: 0em;
    margin-top: .5em;
  }

}
